<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.quittle.a11yally"
        android:installLocation="internalOnly"
        android:versionCode="1"
        android:versionName="0.0.0">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.quittle.a11yally.MANAGE_RECORDING" />

    <permission
            android:name="com.quittle.a11yally.MANAGE_RECORDING"
            android:description="@string/permission_manage_recording_description"
            android:label="@string/permission_manage_recording_label"
            android:protectionLevel="dangerous" />

    <application
            android:name=".A11yAllyApplication"
            android:label="@string/app_label"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true"
            android:theme="@style/MainTheme"
            android:supportsRtl="false">
        <activity android:name=".MainActivity"
                android:screenOrientation="userPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PermissionsActivity" />
        <activity android:name=".UnfriendlyActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".FeatureSettingsActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".view.MultiAppSelectionActivity" android:parentActivityName=".MainActivity" />
        <activity android:name=".DialogActivity" android:theme="@style/Theme.AppCompat.Dialog" android:excludeFromRecents="true" />

        <service android:name=".analyzer.A11yAllyAccessibilityAnalyzer"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>
        <service android:name=".RecordingService"
                android:permission="com.quittle.a11yally.MANAGE_RECORDING">
            <intent-filter>
                <action android:name="com.quittle.a11yally.START_RECORDING" />
                <action android:name="com.quittle.a11yally.STOP_RECORDING" />
            </intent-filter>
        </service>
    </application>
</manifest>
