<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.quittle.a11yally"
        android:versionCode="1"
        android:versionName="0.0.0">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
            android:name=".A11yAllyApplication"
            android:label="@string/app_label"
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".analyzer.A11yAllyAccessibilityAnalyzer"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
