name: Build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 10
      - name: Determine if release
        id: is-release
        run: |
          if [ '${{ github.ref }}' = 'refs/heads/main' ]; then
            echo "IS_CI_RELEASE=true" >> "${GITHUB_ENV}"
            echo '::set-output name=value::true'
          fi
      - name: Optionally unpack secrets
        if: steps.is-release.outputs.value
        run: |
          openssl aes-256-cbc \
            -K '${{ secrets.encryption_key }}' \
            -iv '${{ secrets.encryption_iv }}' \
            -in config/a11y-ally-secrets.zip.enc \
            -out config/a11y-ally-secrets.zip \
            -d
          unzip config/a11y-ally-secrets.zip -d config
      - name: Build and Test
        env:
          ANDROID_SIGNING_PASSWORD: ${{ secrets.android_signing_password }}
        run: ./gradlew
      - name: Generate Release Info
        id: generate-release-info
        run: |
          apkanalyzer=./build/android-sdk-root/cmdline-tools/latest/bin/apkanalyzer
          chmod +x $apkanalyzer
          version_code="$($apkanalyzer manifest version-code app/build/outputs/apk/release/app-release.apk)"
          echo "::set-output name=tag::${version_code}"

          git_log="$(git log $(git describe --tags --abbrev=0)..HEAD --format='format:%C(auto)%h %s')"
          git_log="${git_log//'%'/'%25'}"
          git_log="${git_log//$'\n'/'%0A'}"
          git_log="${git_log//$'\r'/'%0D'}"
          echo "::set-output name=body::${git_log}"
      - name: GitHub Release
        if: steps.is-release.outputs.value
        uses: ncipollo/release-action@v1
        with:
          tag: v${{ steps.generate-release-info.outputs.tag }}
          body: ${{ steps.generate-release-info.outputs.body }}
          artifacts: "app/build/outputs/**/*"
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish to Google Play
        if: steps.is-release.outputs.value
        env:
          ANDROID_SIGNING_PASSWORD: ${{ secrets.android_signing_password }}
        run: ./gradlew publishApps
